In [1]:
# Goal:
# Conventionally we would construct phase diagrams using a grid search. However here we
# hope to create a machine learning model that can be trained on a limited search of 
# parameter space and predict model output. Given that goal, we need to first construct
# a fine grid search parameter combination set. This will be stored to a CSV. 
# We will randomly select points in parameter space from this CSV to use as inputs to our
# ODE model of membrane bending. These will form an initial training set.
# Then we can test on different points in parameter space. 
# We may need to do this iteratively. An interesting aspect of this problem is how 
# fine of a sampling of parameter space do we need to create a good model for these equations.

In [2]:
import numpy as np
import pandas as pd
from math import pi
from random import sample

In [7]:
# We will use dimensional parameters so that we can use different numbers 
# to non-dimensionalize later if need be

lam_dim_ran = np.linspace(.003, .15, num = 30, endpoint = True)
rad_ran = (np.linspace(25, 500, num = 41)) 
delta_ran = np.linspace(0.125, 1.25, 30)
#pressure_ran = np.linspace(0, .0003, num = 30) # pN/nm2. Range based on: Direct Measurement of Intracellular Pressure. Ryan J. Petrie and Hyun Koo. 2014.

In [8]:
#combos = np.empty(len(lam_dim_ran)*len(rad_ran), 2, )
combos = pd.DataFrame(np.nan, index=np.arange(0,len(lam_dim_ran)*len(rad_ran)*len(delta_ran)), columns=['lam_dim', 'lam_dim_id', 'rad', 'rad_id', 'pressure_dim', 'pressure_dim_id', 'simulation_area', 'patch_area', 'delta', 'delta_id', 'k0', 'k0_id'])
tot_count = 0
lam_count = 0
pressure = 0
pressure_count = np.nan
#delta = 1
#delta_count = np.nan
k0 = 320
k0_count = np.nan

for lam in lam_dim_ran:
    rad_count = 0
    for rad in rad_ran:
        A = 4*pi*(3*rad)**2 # Simulation area based on target MP radius  
        A0 = 4*pi*rad**2 # Patch area based on target MP radius
        delta_count = 0
        for delta in delta_ran:
            combos.iloc[tot_count] = [lam, lam_count, rad, rad_count, pressure, pressure_count, A, A0, delta, delta_count, k0, k0_count]
            delta_count += 1
            tot_count += 1
        rad_count += 1
    lam_count += 1

In [9]:
combos

,lam_dim,lam_dim_id,rad,rad_id,pressure_dim,pressure_dim_id,simulation_area,patch_area,delta,delta_id,k0,k0_id
0,0.003,0.0,25.0,0.0,0.0,NaN,7.068583e+04,7.853982e+03,0.125000,0.0,320.0,NaN
1,0.003,0.0,25.0,0.0,0.0,NaN,7.068583e+04,7.853982e+03,0.163793,1.0,320.0,NaN
2,0.003,0.0,25.0,0.0,0.0,NaN,7.068583e+04,7.853982e+03,0.202586,2.0,320.0,NaN
3,0.003,0.0,25.0,0.0,0.0,NaN,7.068583e+04,7.853982e+03,0.241379,3.0,320.0,NaN
4,0.003,0.0,25.0,0.0,0.0,NaN,7.068583e+04,7.853982e+03,0.280172,4.0,320.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
36895,0.150,29.0,500.0,40.0,0.0,NaN,2.827433e+07,3.141593e+06,1.094828,25.0,320.0,NaN
36896,0.150,29.0,500.0,40.0,0.0,NaN,2.827433e+07,3.141593e+06,1.133621,26.0,320.0,NaN
36897,0.150,29.0,500.0,40.0,0.0,NaN,2.827433e+07,3.141593e+06,1.172414,27.0,320.0,NaN
36898,0.150,29.0,500.0,40.0,0.0,NaN,2.827433e+07,3.141593e+06,1.211207,28.0,320.0,NaN
36899,0.150,29.0,500.0,40.0,0.0,NaN,2.827433e+07,3.141593e+06,1.250000,29.0,320.0,NaN

In [10]:
combos.to_csv('Test_parameter_combos_delta.csv', index = False)

In [11]:
df = pd.read_csv('Test_parameter_combos_delta.csv')

In [12]:
some_params = sample(range(0, len(df)), 3)
df.iloc[some_params]

,lam_dim,lam_dim_id,rad,rad_id,pressure_dim,pressure_dim_id,simulation_area,patch_area,delta,delta_id,k0,k0_id
10613,0.043552,8.0,321.875,25.0,0.0,NaN,1.171728e+07,1.301920e+06,1.017241,23.0,320.0,NaN
6916,0.028345,5.0,321.875,25.0,0.0,NaN,1.171728e+07,1.301920e+06,0.745690,16.0,320.0,NaN
23207,0.094241,18.0,440.625,35.0,0.0,NaN,2.195789e+07,2.439766e+06,0.784483,17.0,320.0,NaN