In [1]:
# Goal:
# Conventionally we would construct phase diagrams using a grid search. However here we
# hope to create a machine learning model that can be trained on a limited search of 
# parameter space and predict model output. Given that goal, we need to first construct
# a fine grid search parameter combination set. This will be stored to a CSV. 
# We will randomly select points in parameter space from this CSV to use as inputs to our
# ODE model of membrane bending. These will form an initial training set.
# Then we can test on different points in parameter space. 
# We may need to do this iteratively. An interesting aspect of this problem is how 
# fine of a sampling of parameter space do we need to create a good model for these equations.

In [1]:
import numpy as np
import pandas as pd
from math import pi
from random import sample

In [2]:
# We will use dimensional parameters so that we can use different numbers 
# to non-dimensionalize later if need be

lam_dim_ran = np.linspace(.003, .15, num = 30, endpoint = True)
rad_ran = (np.linspace(25, 500, num = 41)) 

pressure_ran = np.linspace(0, .0003, num = 30) # pN/nm2. Range based on: Direct Measurement of Intracellular Pressure. Ryan J. Petrie and Hyun Koo. 2014.

In [5]:
combos = pd.DataFrame(np.nan, index=np.arange(0,len(lam_dim_ran)*len(rad_ran)*len(pressure_ran)), columns=['lam_dim', 'lam_dim_id', 'rad', 'rad_id', 'pressure_dim', 'pressure_dim_id', 'simulation_area', 'patch_area', 'delta', 'delta_id', 'k0', 'k0_id'])
tot_count = 0
lam_count = 0
delta = 1
delta_count = np.nan
k0 = 320
k0_count = np.nan

for lam in lam_dim_ran:
    rad_count = 0
    for rad in rad_ran:
        A = 4*pi*(3*rad)**2 # Simulation area based on target MP radius  
        A0 = 4*pi*rad**2 # Patch area based on target MP radius
        pressure_count = 0
        for pressure in pressure_ran:
            combos.iloc[tot_count] = [lam, lam_count, rad, rad_count, pressure, pressure_count, A, A0, delta, delta_count, k0, k0_count]
            pressure_count += 1
            tot_count += 1
        rad_count += 1
    lam_count += 1

In [6]:
combos

,lam_dim,lam_dim_id,rad,rad_id,pressure_dim,pressure_dim_id,simulation_area,patch_area,delta,delta_id,k0,k0_id
0,0.003,0.0,25.0,0.0,0.000000,0.0,7.068583e+04,7.853982e+03,1.0,NaN,320.0,NaN
1,0.003,0.0,25.0,0.0,0.000010,1.0,7.068583e+04,7.853982e+03,1.0,NaN,320.0,NaN
2,0.003,0.0,25.0,0.0,0.000021,2.0,7.068583e+04,7.853982e+03,1.0,NaN,320.0,NaN
3,0.003,0.0,25.0,0.0,0.000031,3.0,7.068583e+04,7.853982e+03,1.0,NaN,320.0,NaN
4,0.003,0.0,25.0,0.0,0.000041,4.0,7.068583e+04,7.853982e+03,1.0,NaN,320.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
36895,0.150,29.0,500.0,40.0,0.000259,25.0,2.827433e+07,3.141593e+06,1.0,NaN,320.0,NaN
36896,0.150,29.0,500.0,40.0,0.000269,26.0,2.827433e+07,3.141593e+06,1.0,NaN,320.0,NaN
36897,0.150,29.0,500.0,40.0,0.000279,27.0,2.827433e+07,3.141593e+06,1.0,NaN,320.0,NaN
36898,0.150,29.0,500.0,40.0,0.000290,28.0,2.827433e+07,3.141593e+06,1.0,NaN,320.0,NaN
36899,0.150,29.0,500.0,40.0,0.000300,29.0,2.827433e+07,3.141593e+06,1.0,NaN,320.0,NaN

In [7]:
combos.to_csv('Test_parameter_combos_pressure.csv', index = False)

In [8]:
df = pd.read_csv('Test_parameter_combos_pressure.csv')

In [9]:
some_params = sample(range(0, len(df)), 3)
df.iloc[some_params]

,lam_dim,lam_dim_id,rad,rad_id,pressure_dim,pressure_dim_id,simulation_area,patch_area,delta,delta_id,k0,k0_id
644,0.003000,0.0,274.375,21.0,0.000145,14.0,8.514153e+06,9.460170e+05,1.0,NaN,320.0,NaN
1915,0.008069,1.0,286.250,22.0,0.000259,25.0,9.267090e+06,1.029677e+06,1.0,NaN,320.0,NaN
30698,0.124655,24.0,488.125,39.0,0.000083,8.0,2.694725e+07,2.994139e+06,1.0,NaN,320.0,NaN